* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #070707;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
   /*10% {
    transform: rotateX(-30deg) rotateX(80deg);
  }
   20% {
    transform: rotateY(150deg) rotateX(-150deg);
  }
   30% {
    transform: rotateX(100deg) rotateY(-300deg);
  }
   40% {
    transform: rotateY(-100deg) rotateX(-500deg);
  }
   50% {
    transform: rotateX(10deg) rotateY(0deg);
  }
  /*60% {
    transform: rotateY(-50deg) rotateX(-150deg);
  }
  70% {
    transform: rotateY(50deg) rotateX(50deg);
  }
  80% {
    transform: rotateX(150deg) rotateY(150deg);
  }
  90% {
    transform: rotateY(-50deg) rotateY(-30deg);
  } */
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.cube div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px)
   /*300 / 2 = 150*/;
}

.cube div span img {
  width: 300px;
  height: 300px;
  opacity: 0.6;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  font-size: 250px;
  font-weight:bold;
  color: #fff;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}

.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: #0f0;
  transform: translateZ(-400px);
  filter: blur(30px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
  0 0 200px rgba(0, 255, 0, 0.4),
  0 0 300px rgba(0, 255, 0, 0.6),
  0 0 400px rgba(0, 255, 0, 0.8),
  0 0 500px rgba(0, 255, 0, 1);
}